<dialog class="modal" id="modalModelDownload" _="on started set $duration to 0 then send update to <span/> in #timer then add .modal-open to me">
  <form method="dialog" class="modal-box overflow-visible">
      <h3 class="font-bold text-lg">Hello, we are working on it! ⚙️⚒️</h3>
      <p>The system is downloading the model right now, be patient!</p>
      <img class="modal-image my-2 mx-auto w-1/2 h-1/2" src="static/images/download.gif" alt="Progress spinner">
      <progress id="progressBar" class="progress progress-primary	w-100"></progress>
      <div class="card-actions justify-between items-center">
        <div>
            <div class="text-sm">Download time:</div>
            {% include 'modals/timer.html'%}
        </div>
        <div hx-get="{{ url_for('api.stop_download')}}" hx-swap="none" class="mt-3 btn btn-primary">stop</div>
      </div>
  </form>
</dialog>