<dialog class="modal" id="modalWrongInput">
    <form method="dialog" class="modal-box">
        <h3 class="font-bold text-lg">Your input is unfortunatley not correct 😵‍💫😵‍💫😵‍💫</h3>
        <img class="modal-image my-2 mx-auto w-full h-full hidden" src="static/images/cat_wrong.gif"  alt="Wrong Input Image">     
        <img class="modal-image my-2 mx-auto w-1/2 h-1/2" src="static/images/wrong.gif"  alt="Wrong Input Image">      
        <a class="btn btn-primary" href="{{url_for('home')}}">close</a>
    </form>
</dialog>