<form   method="dialog" class="modal-box" x-data="{{'{cuda_available:true, GPU:true}' if cuda_available else '{cuda_available:false, GPU:false}'}}">
    <h3 class="font-bold text-lg">Advanced Settings</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 my-4">
        <div>
            <div class="font-bold text-primary text-sm text-center">Compute Device</div>
            <div class="divider my-0"></div>
            <div class="flex justify-between items-center px-4">
                <span class="text-sm font-medium">CPU</span> 
                <input name="GPU" id="GPU" type="checkbox" class="toggle toggle-sm my-2" x-model="GPU" :disabled="!cuda_available"/>
                <span class="text-sm font-medium">GPU</span> 
            </div>
        </div>
        <div>
            <div class="font-bold text-primary text-sm text-center">Compute Type</div>
            <div class="divider my-0"></div>
            <div class="flex justify-between items-center px-4">
                <span class="text-sm font-medium">int8</span> 
                <input name="float16" id="float16" type="checkbox" class="toggle toggle-sm my-2" :disabled="!GPU" :checked="!GPU && false"/>
                <span class="text-sm font-medium">float16</span> 
            </div>
        </div>
    </div>
    <p class="text-sm">These options are only available if you have a CUDA-enabled NVIDIA GPU.</p>
    <div class="modal-action">
        <button class="btn btn-primary btn-sm">ok</button>
    </div>
</form>