<dialog class="modal" id="modalProcess" _="on started add .modal-open to me then if #GPU.checked set #device.innerHTML to 'GPU'">
  <form method="dialog" class="modal-box overflow-visible">
      <h3 class="font-bold text-lg">Hello, we are working on it! ⚙️⚒️</h3>
      <p>The system is transcribing your file right now, be patient!</p>
      <img class="modal-image my-2 mx-auto w-full h-full hidden" src="static/images/cat_process.gif" alt="Progress spinner">
      <img class="modal-image my-2 mx-auto w-1/2 h-1/2" src="static/images/process.gif" alt="Progress spinner">
      <p class="text-sm font-bold">Current Task: <span class="text-sm font-normal" id="currentTask">Loading file</span></p> 
      <progress id="progressBar" class="progress progress-primary	w-100" value="0" max="1000"></progress>
      <div class="card-actions justify-between items-center">
        <div>
            <div class="text-sm">Running on <span id="device">CPU</span></div>
            {% include 'modals/timer.html'%}
        </div>
        <a href="{{ url_for('api.stop_transcription')}}" class="mt-3 btn btn-primary">stop</a>
      </div>
    </form>
</dialog>