{% extends 'base.html' %}
{% block content %}
<div id="about" class="card w-full bg-base-100">
    <div class="card-body">
        <div class="flex justify-between">
            <h2 class="card-title font-bold text-accent">About aTrain</h2>
        </div>
        <div class="my-4 grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <p class="font-bold">Initial Authors:</p>
                <ul>
                    <li>Armin Haberl (armin.haberl@uni-graz.at)</li>
                    <li>Jürgen Fleiß (juergen.fleiss@uni-graz.at)</li>
                    <li>Dominik Kowald (dkowald@know-center.at)</li>
                    <li>Stefan Thalmann (stefan.thalmann@uni-graz.at)</li>
                </ul>
            </div>

            <div>
                <p class="font-bold">Current Developers:</p>
                <ul>
                    <li>Armin Haberl (armin.haberl@uni-graz.at)</li>
                    <li>Jürgen Fleiß (juergen.fleiss@uni-graz.at)</li>
                    <li>Andrea Forster (andrea.forster@uni-graz.at)</li>
                </ul>
            </div>

        </div>

        <div class="divider my-0"></div>

        <p class="my-4">Disclaimer: aTrain is not an official app of the University of Graz.</p>
    </div>
</div>
{% endblock %}