<script type="text/hyperscript">
    eventsource SSE from {{url_for('api.SSE')}}
        on task as string
            put it into #currentTask
        end

        on progress as json
            set #progressBar@max to it.total
            set #progressBar@value to it.current
        end

        on finished as string
            set #downloadButton@hx-get to it
            call htmx.process(#downloadButton)
            send finished to #timer and #finalTime
            remove .modal-open from .modal
            add .modal-open to #modalFinished
        end

        on error as json
            put it.error into #errorCode 
            put it.traceback into #traceback
            remove .modal-open from .modal
            add .modal-open to #modalError
        end  
    end
</script>