{% extends 'base.html' %}
{% block content %}
<div id="about" class="card w-full bg-base-100">
    <div class="card-body">
        <div class="flex justify-between">
            <h2 class="card-title font-bold text-accent">About aTrain</h2>
        </div>
        <div class="mt-4">

            <p>Authors:</p>
            <ul>
                <li>A. Haberl</li>
                <li>J. Fleiß</li>
                <li>D. Kowald</li>
                <li>S. Thalmann</li>
            </ul><br>

            <p>Developers:</p>
            <ul>
                <li>A. Haberl</li>
                <li>J. Fleiß</li>
                <li>A. Forster</li>
            </ul><br>
            <p>--- Placeholder for additional information --- </p>
        </div>
    </div>
</div>
{% endblock %}