{% if not only_content %}
    {% extends 'base.html' %}
{% endif %}
{% block content %}
<div id="model_manager" class="card w-full bg-base-100">
    <div class="card-body">
        <div class="flex justify-between">
            <h2 class="card-title font-bold text-accent">Model Manager</h2>
            <div> 
                <div hx-get="{{ url_for('open_model_directory', model='all') }}" hx-swap="none" class="btn btn-neutral mr-2 btn-xs md:btn-sm">Show All</div>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table class="table table-xs sm:table-sm md:table-md">
                <thead>
                    <tr>
                        <th></th>
                        <th>Model</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for model_dict in models %}
                    <tr class="hover">
                        <th>{{ loop.index }}</th>
                        <td>{{ model_dict['model'] }}</td>
                        <td>
                            {% if model_dict['downloaded'] %}
                                <div hx-get="{{ url_for('open_model_directory', model=model_dict['model']) }}" hx-swap="none" class="btn btn-neutral mr-2 btn-xs md:btn-sm">Open</div>
                                <div hx-get="{{ url_for('delete_model', model=model_dict['model']) }}" hx-target="#model_manager" hx-swap="outerHTML" class="btn btn-xs md:btn-sm">Delete</div>
                            {% else %}
                                <div hx-get="{{ url_for('download_model', model=model_dict['model']) }}" hx-target="#model_manager" hx-swap="outerHTML" class="btn btn-primary md:btn-sm">Download</div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
