{% extends 'base.html' %}
{% block content %}
{% include "utils/eventsource.html" %}
<div class="card w-full bg-base-100">
  <div class="card-body">
    <form hx-encoding=multipart/form-data hx-post="{{url_for('start_transcription')}}" hx-include="#advancedSettings" hx-swap="none" _="on submit send started to #modalProcess and #timer">

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% include 'settings/file_input.html' with context %}
        {% include 'settings/models.html' with context %}
        {% include 'settings/languages.html' with context %}
        {% include 'settings/speaker_detection.html' with context %}
        {% include 'settings/num_speakers.html' with context %}
      </div>

      <div class="divider my-4"></div>

      <div class="card-actions justify-between items-center">
        <div>
          <div class="text-sm mb-2">⚙️ <span _="on click toggle .modal-open on #advancedSettings" class="link ml-1">Advanced Settings</span> </div>
          <div class="text-sm">📖 <a href="{{url_for('faq')}}" class="link ml-1">Help needed?</a> </div>
        </div>
        <img _="on click toggle .hidden on .modal-image then toggle .opacity-20 on me" class="opacity-20" src="static/images/cat_icon.png" alt="Catmode-Switch" height="30" width="30">
        <input id="startButton" class="btn btn-primary" type="submit" value="Start">
      </div>

    </form>
  </div>

  {% include 'settings/advanced_settings.html' with context %}

  {% include 'modals/modal_process.html' with context %}
  {% include 'modals/modal_wrongInput.html' with context %}
  {% include 'modals/modal_error.html' with context %}
  {% include 'modals/modal_download.html' with context %}

</div>
{% endblock %}