<div id="stream" hx-ext="sse" sse-connect="{{ './transcription/' + id if id}}" x-data="{total_duration:{{total_duration if total_duration else 9999}}}"> 
  <div sse-swap="message" hx-target="#currentTask" hx-swap="innerHTML"></div>
  <div sse-swap="stopstream" hx-target="#modal"></div>
  <form method="dialog" class="modal-box overflow-visible">
      <h3 class="font-bold text-lg">Hello, we are working on it! ⚙️⚒️</h3>
      <p>The system is transcribing your file right now, be patient!</p>
      <template x-if="catmode">
        <img class="my-2 mx-auto w-full h-full" id="processImage" src="static/images/cat_process.gif" alt="Progress spinner">
      </template>
      <template x-if="!catmode">
        <img class="my-2 mx-auto w-1/2 h-1/2" id="processImage" src="static/images/process.gif" alt="Progress spinner">
      </template>  
      <p class="text-sm font-bold">Current Task: <span class="text-sm font-normal" id="currentTask">{{ task if task else "Loading file"}}</span></p> 
      <progress id="progressBar" class="progress progress-primary	w-100" value="0" max="1000" :value="duration" :max="total_duration" ></progress>
      <div class="card-actions justify-between items-center">
        <div>
          <div class="text-sm">{{"Running on " + device if device else ""}}</div>
          <div>
            <span class="text-sm" x-text="Math.floor(duration / 3600).toString().padStart(2,'0')"></span>h
            <span class="text-sm" x-text="Math.floor((duration % 3600) / 60).toString().padStart(2,'0')"></span>m
            <span class="text-sm" x-text="Math.floor(duration % 60).toString().padStart(2,'0')"></span>s /
            <template x-if="duration < total_duration">
              <span class="text-sm font-bold">~ {{total_duration|format_duration if total_duration else ""}}</span>
            </template>
            <template x-if="duration >= total_duration">
              <span class="tooltip" data-tip="See FAQ for more information">
                <span class="text-sm font-bold link">Longer than estimated</span>
              </span>
            </template>
          </div>
        </div>
        <a href="{{'./revert_changes/' + id if id else '.'}}" class="mt-3 btn btn-primary">stop</a>
      </div>
    </form>
</div>