<form method="dialog" class="modal-box" x-init="clearInterval(Timer)">
    <h3 class="font-bold text-lg">We did it, it is finished! 🎉🎉🎉</h3>
    <p>We transcribed your file in 
        <span x-text="Math.floor(duration / 3600).toString().padStart(2,'0')"></span>h
        <span x-text="Math.floor((duration % 3600) / 60).toString().padStart(2,'0')"></span>m
        <span x-text="Math.floor(duration % 60).toString().padStart(2,'0')"></span>s.
    </p>
    <template x-if="catmode">
        <img class="my-2 mx-auto w-full h-full" src="static/images/cat_success.gif" alt="Success image">
    </template>
    <template x-if="!catmode">
        <img class="my-2 mx-auto w-1/2 h-1/2" src="static/images/success.gif" alt="Success image">
    </template>    
    <p class="py-4">Open the folder with your data here:</p>
    <a class="btn btn-primary" hx-get="{{'./open/' + file_id if file_id else '.'}}" hx-swap="none" id="downloadButton">Open</a>
    <a class="btn btn-accent" href=".">back</a>
</form>