<form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">Your input is unfortunatley not correct 😵‍💫😵‍💫😵‍💫</h3>
    <template x-if="catmode">
        <img class="my-2 mx-auto w-full h-full" src="static/images/cat_wrong.gif"  alt="Wrong Input Image">     
    </template>
    <template x-if="!catmode">
        <img class="my-2 mx-auto w-1/2 h-1/2" src="static/images/wrong.gif"  alt="Wrong Input Image">      
    </template>  
    <a class="btn btn-primary" href=".">close</a>
</form>