<div>
    <div class="font-bold text-primary text-sm text-center">Compute Type</div>
    <div class="divider my-0"></div>
    <div class="px-4">
        <select name="compute_type" id="compute_type" class="select select-bordered select-sm my-2 w-full max-w-xs">
            {% if cuda %}
            <option value="int8">int8</option>
            <option value="float16">float16</option>
            <option value="float32">float32</option>
            {% else %}
            <option value="int8" selected>int8</option>
            <option value="float16" disabled>float16 (Unavailable)</option>
            <option value="float32" disabled>float32 (Unavailable)</option>
            {% endif %}
        </select>
    </div>
</div>