<div>
    <div class="font-bold text-primary text-sm text-center">Compute Type</div>
    <div class="divider my-0"></div>
    {% if cuda %}
        <select id="compute_type"
                name="compute_type"
                class="select select-bordered select-sm my-2 w-full max-w-xs">
            <option id="int8" value="int8">int8</option>
            <option id="float16" value="float16" selected>float16</option>
            <option id="float32" value="float32">float32</option>
        </select>
    {% else %}
        <select id="compute_type"
                name="compute_type"
                class="select select-bordered select-sm my-2 w-full max-w-xs"
                disabled>
            <option id="int8" value="int8">int8</option>
        </select>
    {% endif %}
</div>
