<div>
    <div class="font-bold text-primary text-sm text-center">Compute Device</div>
    <div class="divider my-0"></div>
    <div class="flex justify-between items-center px-4">
        <span class="text-sm font-medium">CPU</span>
        {% if cuda %}
        <input
            name="GPU"
            id="GPU"
            type="checkbox"
            class="toggle toggle-sm my-2"
            _="on change toggle @selected on #float16 then toggle @selected on #int8 then toggle @disabled on #compute_type"
            checked
        />
        {% else %}
        <input
            name="GPU"
            id="GPU"
            type="checkbox"
            class="toggle toggle-sm my-2"
            disabled
        />
        {% endif %}
        <span class="text-sm font-medium">GPU</span>
    </div>
</div>
