<!DOCTYPE html>
<html data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <title>aTrain</title>
    <link href="static/CSS/index.css" rel="stylesheet" type="text/css" />
    <script src="static/JS/alpine.js" defer></script>
    <script src="static/JS/htmx.js" defer></script>
    <script src="static/JS/htmx_sse.js" defer></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>-->
    <style> [x-cloak] { display: none !important; } </style>
</head>
<body class="flex flex-col min-h-screen justify-between bg-base-200" x-data="{drawer: false, duration: 0}">
    <div>
    {% include 'layout/navbar.html' with context %}    
    {% include 'layout/sidebar.html' %}  
    </div>
    {% include 'layout/footer.html' %}
</body>
</html>