<div class="drawer-side h-full">
    <label for="drawer" class="drawer-overlay"></label> 
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content gap-3">
        <li><a href="/" class="bg-base-100 text-base font-medium">🎧 <span class=" ml-2">Transcribe</span> </a></li>
        <li><a href="/archive" class="bg-base-100 text-base font-medium">💾 <span class=" ml-2">Archive</span> </a></li>
        <li><a href="/faq" class="bg-base-100 text-base font-medium">📖 <span class=" ml-2">FAQ</span> </a></li>
        <div class="divider my-0"></div>
        <li><a href="https://survey.uni-graz.at/index.php/381219" target="_blank" class="bg-base-100 text-base font-medium">🗣️ <span class=" ml-2">Feedback</span> </a></li>
    </ul>
</div>