{% from 'layout/nav_link.html' import nav_link %}

<div class="drawer-side h-full">
    <label for="drawer" class="drawer-overlay"></label> 
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content gap-3">
        {{ nav_link(endpoint = "routes.home", name = "Transcribe", symbol = "🎧")}}
        {{ nav_link(endpoint = "routes.archive", name = "Archive", symbol = "💾")}}
        {{ nav_link(endpoint = "routes.model_manager", name = "Model Manager", symbol = "🧮")}}
        {{ nav_link(endpoint = "routes.faq", name = "FAQ", symbol = "📖")}}
        <div class="divider my-0"></div>
        {{ nav_link(endpoint = "routes.about", name = "About", symbol = "💡")}}
    </ul>
</div>