<div id="archive" class="card w-full bg-base-100">
    <div class="card-body">
        <div class="flex justify-between">
            <h2 class="card-title font-bold text-accent">Archive</h2>
            <div>
                <div hx-get="./open/all" hx-swap="none" class="btn btn-neutral mr-2 btn-xs md:btn-sm">Show All</div>
                <div hx-get="./delete/all" hx-target="#archive" hx-swap="outerHTML" class="btn mr-2 btn-xs md:btn-sm">Delete All</div>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table class="table table-xs sm:table-sm md:table-md">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Input</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for transcription in archive_data %}
                <tr class="hover">
                <th>{{loop.index}}</th>
                <td>{{transcription.timestamp}}</td>
                <td>{{transcription.filename}}</td>
                <td>
                    <div hx-get="./open/{{transcription.file_id}}" hx-swap="none" class="btn btn-neutral mr-2 btn-xs md:btn-sm">open</div>
                    <div hx-get="./delete/{{transcription.file_id}}" hx-target="#archive" hx-swap="outerHTML" class="btn btn-xs md:btn-sm">delete</div></td>
                {% endfor %}
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>