<div id="initialPromptSection">
    <h2 class="font-bold text-primary">Initial Prompt</h2>
    <div class="divider my-0"></div>
    <textarea 
      name="initial_prompt" 
      id="initial_prompt" 
      class="textarea textarea-bordered textarea-sm my-2 w-full max-w-xs" 
      placeholder="Enter prompt here (max 244 characters)..."
      maxlength="244"></textarea>
    <p class="text-sm">Provide a custom initial prompt if necessary. (Max: 244 chars)</p>
    <div class="text-sm">💬 <a href="https://platform.openai.com/docs/guides/speech-to-text#prompting" class="link ml-1">Prompting Whisper</a> </div>
  </div>
  