<div>
  <h2 class="font-bold text-primary">Select Model</h2>
  <div class="divider my-0"></div>
  <select name="model" id="model" class="select select-bordered select-sm w-full my-2 max-w-xs"
    hx-post = '/get_languages' hx-trigger = 'change' hx-target = '#languageSection' hx-swap ='outerHTML'>
    {% for model in models%}
      {% if model != "diarize" %}
        <option value="{{model}}">{{model}}</option>
      {% endif %}
    {% endfor %}
  </select>
     
  <p class="text-sm">Select a whisper model to be used for transcription.</p>
  <div class="text-sm">🧮 <a href="{{url_for('model_manager')}}" class="link ml-1">Download additional models</a> </div>
</div>



<!-- <div>
    <h2 class="font-bold text-primary">Select Model</h2>
    <div class="divider my-0"></div>
    <select name="model" id="model" class="select select-bordered	 select-sm w-full my-2 max-w-xs">
      <option value="tiny">tiny (fastest)</option>
      <option value="base">base (faster)</option>
      <option value="small">small (fast)</option>
      <option value="medium" selected="selected">medium (accurate)</option>
      <option value="large-v1">large-v1 (more accurate)</option>
      <option value="large-v2">large-v2 (most accurate)</option>
    </select>
    <p class="text-sm">Select a whisper model to be used for transcription.</p>
</div> 
-->

