<div>
    <h2 class="font-bold text-primary">Multispeaker</h2>
    <div class="divider my-0"></div>
    <div class="form-control w-full max-w-xs">
      <label class="cursor-pointer label">
        <span class="label-text font-medium">Multispeaker</span> 
        <input name="speaker_detection" id="speaker_detection" type="checkbox" class="toggle toggle-sm my-2 " _="on change toggle .hidden on #InputNumSpeakers and .steps"/>
      </label>
    </div>
    <p class="text-sm">Select whether you want to detect speakers.</p>
</div>