<div class="form-control w-full max-w-xs">
    <h2 class="font-bold text-primary">Multispeaker</h2>
    <div class="divider my-0"></div>

    <div class="flex items-center justify-between">
        <span class="label-text font-medium">Multispeaker</span>
        <input
            name="speaker_detection"
            id="speaker_detection"
            type="checkbox"
            class="toggle toggle-sm my-2"
            hx-swap="outerHTML"
            _="on change toggle .hidden on .steps then toggle .hidden on #numSpeakersContainer"
        />
    </div>
    <p class="text-sm mt-2">Select whether you want to detect speakers.</p>
</div>
